*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}
.title{
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3rem;
	text-align: center;
	margin: 1rem 0;
}
.intro{
	width: 60%;
	margin: 0 auto;
	font-size: 1.2rem;
	text-align: center;
}
.information{
	margin-right: 25%;
	margin-left: 25%;
}

.information>li{
	font-size: 1rem;
	display: inline-block;
}
.number-correct{
	float: right;
}
.button, .start-button{
	height: 10rem;
	width: 19rem;
	margin: 3rem auto;
	padding: 0;
}
.button{
	margin-top: 2rem;
}
.start-button, .restart{
	background-color: #EAC117;
	font-size: 2.5rem;
	font-weight: bold;
	color: white;
	padding: 2rem;
	border-radius: 20% 5%;
	border: none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.-hover:hover{
	height: 10.2rem;
	width: 19.2rem;
	background-color: silver;
}
.question, .answer-list, .information, .explanation{
	display: none;
}
.question, .explanation{
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
.question{
	font-size: 1.5rem;
}
.explanation{
	font-size: 1rem;
}
.answer-list{
	background-image: url("../images/Rings.jpg");
	background-size: 100% 100%;
	width: 600px;
	height: 291px;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
.answer-list>li{
	padding:0;
	display: inline-block;
	position: absolute;
	width: 120px;
	text-align: center;
}
.answer-one{
	left: 50px;
}
.answer-two{
	left: 240px;
}
.answer-three{
	left: 435px;
}
.answer-one, .answer-two, .answer-three{
	top: 75px;
}
.answer-four, .answer-five{
	top: 180px;
}
.answer-four{
	left: 145px;
}
.answer-five{
	left: 340px;
}
.-pointer:hover{
	cursor: pointer;
}
.next{
	background-color: #EAC117;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	padding: .5rem;
	border-radius: 5%;
	border: none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	display: none;
}
.restart{
	display: none;
}
